a {
    color: #233;
    text-decoration-line: none;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14pt;
    margin: 2% 20%;
    background-color: #fff;
}

.content {
    display: grid;
    grid-area: content;
    grid-auto-rows: minmax(50px, max-content);
}


.header {
    font-size: 24pt;
    grid-area: header;
}

.headerlink {
    display: inline-block;
    width: 32px;
    height: 32px;
}

.subheader {
    font-size: large;
    grid-area: subheader;
}

.footer {
    grid-area: footer;
}

.wrapper {
    display: grid;
    grid-gap: 96px;
    grid-template-areas:
    "header"
    "content"
    "footer";
}

#Github {
    position: relative;
    background: url('img/github32.png') no-repeat left top;
}

#Github:hover {
    background-position: -32px 0px;
}

#Instagram {
    position: relative;
    background: url('img/instagram32.png') no-repeat left top;
}

#Instagram:hover {
    background-position: -32px 0px;
}

#Linkedin {
    position: relative;
    background: url('img/linkedin32.png') no-repeat left top;
}

#Linkedin:hover {
    background-position: -32px 0px;
}
