a {
    color: #233;
    text-decoration-line: none;

}

body {
    margin: 2% 20%;
    background-color: #fff;
}

.content {
    display: grid;
    grid-area: content;
    grid-auto-rows: minmax(50px, max-content);
}


.header {
    font-size: xx-large;
    grid-area: header;
}

.subheader {
    font-size: large;
    grid-area: subheader;
}

.footer {
    grid-area: footer;
}


.wrapper {
    display: grid;
    grid-gap: 96px;
    grid-template-areas:
    "header"
    "content"
    "footer";
}