body {
    margin: 40px;
}

.content {
    margin-left: 0%;
    margin-right: 20%
    grid-area: content;
}

.header {
    font-size: xx-large;
    grid-area: header;
}

.subheader {
    font-size: large;
    grid-area: subheader;
}

.footer {
    grid-area: footer;
}

.wrapper {
    display: grid;
    grid-gap: 100px;
    grid-template-columns: 10% 90%;
    grid-template-areas:
    "header header"
    "subheader content"
    "footer footer";
    background-color: #fff;
    color: 444;
}